<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello jQuery</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="hello.js"></script>

</head>
<body >
<div style="text-align:center">
    <h1 style="font-size:20px" class="greeting-id">This is a basic example of Spring possibilities</h1>
    <p class="greeting-content">Please send your data to server if you really want it</p>
    <input type="text" id="data">
    <input type="button" id="button" value="Send a message">
    <script>
      button.onclick = function() {
        alert('Клик!');
      };
    </script>

</div>
</body>
</html>